<p-card
  styleClass="card-style rounded-xl bg-[--content-color] text-slate-100 border-none shadow-none"
>
<p-table
#dt1
[value]="attendance"
[paginator]="true"
[rows]="10"
[rowsPerPageOptions]="[10, 25, 100]"
styleClass="tb-style"
responsiveLayout="stack"

[columns]="cols"
[globalFilterFields]="[
  'enrollment.soldier.lastName',
  'enrollment.soldier.firstName',
  'enrollment.soldier.personalNumber',
  'enrollment.class.name',
  'enrollment.class.course.title',
  'status',
  'description',
]"
>
<ng-template pTemplate="caption">
  <div class="flex items-center justify-between">
    <!-- <p class="mb-0 text-slate-100">مشتری</p> -->   <p-button
    icon="pi pi-external-link"
    label="Export"
    (click)="dt1.exportCSV()"
  />
    <input class="pl-10 pr-4 py-2 border rounded-lg" 
      pInputText
      type="text"
      (input)="filtermethod2($event)"
      placeholder="Global Search"
    />
   
  </div>
</ng-template>
<ng-template pTemplate="header">
  <tr>
    <th >نام و نام خانوادگی</th>
    <th>شماره پرسنلی</th>
    <th>نام کلاس</th>
    <th>نام دوره</th>
    <th>وضعیت</th>
    <th>تصویر</th>
    <th>توضیحات</th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-post>
  <tr>
    <td>
      <span class="p-column-title">نام و نام خانوادگی : </span
      >{{ post.enrollment.soldier.firstName +' '+post.enrollment.soldier.lastName }}
    </td>
    <td>
      <span class="p-column-title">شماره پرسنلی : </span
      >{{ post.enrollment.soldier.personalNumber }}
    </td>
    <td>
      <span class="p-column-title">نام کلاس : </span>{{ post.enrollment.class.name }}
    </td>
    <td>
      <span class="p-column-title">نام دوره : </span>{{ post.enrollment.class.course.title }}
    </td>
    <td>
      <span class="p-column-title">وضعیت : </span>{{ post.status }}
    </td>
    <td>
      <span class="p-column-title">تصویر : </span><div class="flex justify-center"><a [href]="photoUrl + post.attachmentUrl" download="image.jpg"><img [src]="photoUrl + post.attachmentUrl" alt="فاقد عکس" width="50" height="60"></a> </div>
    </td>
    <td class="justify-end">
      
      <span class="p-column-title">توضیحات : </span>{{ post.description }}
    </td>
  </tr>
</ng-template>
</p-table>
</p-card>
