<p-card
  styleClass="card-style rounded-xl bg-[--content-color] text-slate-100 border-none shadow-none"
>
<p-table
#dt1
[value]="attendance"
[paginator]="true"
[rows]="10"
[rowsPerPageOptions]="[10, 25, 100]"
styleClass="tb-style"
responsiveLayout="stack"

[columns]="cols"
[globalFilterFields]="[
  'enrollment.soldier.lastName',
  'enrollment.soldier.firstName',
  'enrollment.soldier.personalNumber',
  'enrollment.class.name',
  'enrollment.class.course.title',
  'status',
  'description',
]"
>
<ng-template pTemplate="caption">
  <div class="flex items-center justify-between">
    <!-- <p class="mb-0 text-slate-100">مشتری</p> -->   <p-button
    icon="pi pi-external-link"
    label="Export"
    (click)="dt1.exportCSV()"
  />
    <input class="pl-10 pr-4 py-2 border rounded-lg" 
      pInputText
      type="text"
      (input)="filtermethod2($event)"
      placeholder="Global Search"
    />
   
  </div>
</ng-template>
<ng-template pTemplate="header">
  <tr>
    <th >نام و نام خانوادگی</th>
    <th>شماره پرسنلی</th>
    <th>نام کلاس</th>
    <th>نام دوره</th>
    <th>وضعیت</th>
    <th>تصویر</th>
    <th>توضیحات</th>
    <th>تغییرات</th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-post>
  <tr>
    <td>
      <span class="p-column-title">نام و نام خانوادگی : </span
      >{{ post.enrollment.soldier.firstName +' '+post.enrollment.soldier.lastName }}
    </td>
    <td>
      <span class="p-column-title">شماره پرسنلی : </span
      >{{ post.enrollment.soldier.personalNumber }}
    </td>
    <td>
      <span class="p-column-title">نام کلاس : </span>{{ post.enrollment.class.name }}
    </td>
    <td>
      <span class="p-column-title">نام دوره : </span>{{ post.enrollment.class.course.title }}
    </td>
    <td>
      <span class="p-column-title">وضعیت : </span>{{ post.status }}
    </td>
    <td>
      <span class="p-column-title">تصویر : </span><div class="flex justify-center"><a [href]="photoUrl + post.attachmentUrl" download="image.jpg"><img [src]="photoUrl + post.attachmentUrl" alt="فاقد عکس" width="50" height="60"></a> </div>
    </td>
    <td class="justify-end">
      
      <span class="p-column-title">توضیحات : </span>{{ post.description }}
    </td>
    <td class="justify-end">
      <p-button
      styleClass="bg-sky-500/25 w-10 h-10 hover:bg-sky-500/75"
      size="small"
      icon="pi pi-pencil"
      [rounded]="true"
      [outlined]="true"
      severity="success"
      (onClick)="editatt(post)"
    />
      <p-button

      styleClass="bg-rose-500/25 w-10 h-10 hover:bg-rose-500/75 mx-3"
      size="small"
      icon="pi pi-trash"
      [rounded]="true"
      [outlined]="true"
      severity="success"
      (onClick)="deleteatt(post)"
    />
    </td>
  </tr>
</ng-template>
</p-table>
</p-card>
<p-dialog
  header="وضعیت حضور و غیاب سرباز"
  [modal]="true"
  [(visible)]="visibleform"
  [style]="{ width: '55rem' }"
>
  <div class="flex justify-center mt-3">
    <p-fileUpload
      mode="basic"
      auto="true"
      chooseLabel="انتخاب کردن"
      chooseIcon="pi pi-upload"
      name="demo[]"
      url="https://www.primefaces.org/cdn/api/upload.php"
      accept="image/*"
      maxFileSize="1000000"
      (onUpload)="headerUploadHandler($event)"
    />
  </div>
  @if(visibleform){

  <form-creator [fields]="formFeilds1" (submitForm)="submitform1($event)" />
  }
</p-dialog>

<p-toast />
<p-confirmDialog class="style-confirm" />