<p-card
  styleClass="card-style rounded-xl bg-[--content-color] text-slate-100 border-none shadow-none"
>
  <p-table
    #dt1
    [responsive]="true"
    [scrollable]="true"
    [value]="classes"
    responsiveLayout="stack"
    breakpoint="800px"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20]"
    [tableStyle]="{ 'min-width': '50rem' }"
    styleClass="tb-style"
    [columns]="cols"
    [globalFilterFields]="[
      'title',
      'startDate',
      'endDate',
      'classType',
      'capacity',
      'teacher'
    ]"
  >
    <ng-template pTemplate="caption">
      <div class="flex items-center justify-between">
        <!-- <p class="mb-0 text-slate-100">مشتری</p> -->

        <!-- <p-button label="بازگشت" (onClick)="return()" class="p-button-style" /> -->
        <p-button
          icon="pi pi-external-link"
          label="Export"
          (click)="dt1.exportCSV()"
        />
        <input
          class="pl-10 pr-4 py-2 border rounded-lg"
          pInputText
          type="text"
          (input)="filtermethod2($event)"
          placeholder="Global Search"
        />
        <div>
          <app-create></app-create>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>کلاس</th>
        <th pSortableColumn="name">نام مدرس کلاس</th>
        <th>نوع کلاس</th>
        <th>ظرفیت کلاس</th>
        <th>تغییرات</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-class>
      <tr>
        <td>{{ class.name }}</td>
        <td>{{ class.teacher }}</td>
        <td>{{ class.classType }}</td>
        <td>{{ class.capacity }}</td>
        <td>
          <p-button
            styleClass="bg-sky-500/25 w-10 h-10 hover:bg-sky-500/75"
            icon="pi pi-pencil"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (onClick)="editClass(class)"
          />
          <p-button
            styleClass="bg-rose-500/25 w-10 h-10 hover:bg-rose-500/75 mx-2"
            icon="pi pi-user"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (onClick)="addSoldier(class)"
          />
          <p-button
            styleClass="bg-green-500/25 w-10 h-10 hover:bg-green-500/75"
            icon="pi pi-eye"
            severity="primary"
            [rounded]="true"
            [outlined]="true"
            (onClick)="ViewEnrollments(class)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
<br />

<p-toast />
<p-confirmDialog class="style-confirm" />

<p-dialog
  header="تغییر کلاس"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '35rem' }"
>
  @if(defaultValue){
  <form-creator
    [fields]="formFeilds"
    (submitEditForm)="submitform($event)"
    [options]="formOptions"
    [values]="formValues"
  />}
</p-dialog>

<p-dialog
  header="انتخاب سرباز"
  [modal]="true"
  [(visible)]="visible1"
  [style]="{ width: '35rem' }"
>
  <p-table
    #dt2
    [value]="soldier"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20]"
    styleClass="tb-style"
    responsiveLayout="stack"
    [globalFilterFields]="['firstName', 'lastName', 'personalNumber']"
  >
    <ng-template pTemplate="caption">
      <div class="flex items-center justify-between">
        <!-- <p class="mb-0 text-slate-100">مشتری</p> -->
        <input
          class="pl-10 pr-4 py-2 border rounded-lg"
          pInputText
          type="text"
          (input)="filtermethod3($event)"
          placeholder="Global Search"
        />
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width: 25%">نام و نام خانوادگی</th>
        <th style="min-width: 15%">شماره پرسنلی</th>
        <th style="min-width: 200px">تغییرات</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-soldeir>
      <tr>
        <td>
          <span class="p-column-title">نام و نام خانوادگی : </span
          >{{ soldeir.firstName + " " + soldeir.lastName }}
        </td>
        <td>
          <span class="p-column-title">شماره پرسنلی : </span
          >{{ soldeir.personalNumber }}
        </td>
        <td class="justify-end">
          <p-button
            styleClass="bg-sky-500/25 w-10 h-10 hover:bg-sky-500/75"
            size="small"
            icon="pi pi-check"
            [rounded]="true"
            [outlined]="true"
            severity="success"
            (onClick)="addtoclass(soldeir)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
<p-dialog
  header="انتخاب سرباز"
  [modal]="true"
  [(visible)]="visible2"
  [style]="{ width: '75rem' }"
>
  <p-table
    #dt3
    [value]="enrollmentsinclass"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20]"
    styleClass="tb-style"
    responsiveLayout="stack"
    [globalFilterFields]="[
      'soldier.firstName',
      'soldier.lastName',
      'soldier.personalNumber'
    ]"
  >
    <ng-template pTemplate="caption">
      <div class="flex items-center justify-between">
        <!-- <p class="mb-0 text-slate-100">مشتری</p> -->
        <input
          class="pl-10 pr-4 py-2 border rounded-lg"
          pInputText
          type="text"
          (input)="filtermethod3($event)"
          placeholder="Global Search"
        />
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width: 25%">نام و نام خانوادگی</th>
        <th style="min-width: 15%">شماره پرسنلی</th>
        <th style="min-width: 200px">حضور و غیاب</th>
        <th style="min-width: 200px">حذف از کلاس</th>
        <th style="min-width: 200px">ثبت نمره</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-enrollments>
      <tr>
        <td>
          <span class="p-column-title">نام و نام خانوادگی : </span
          >{{
            enrollments.soldier.firstName + " " + enrollments.soldier.lastName
          }}
        </td>
        <td>
          <span class="p-column-title">شماره پرسنلی : </span
          >{{ enrollments.soldier.personalNumber }}
        </td>
        <td class="">
          <p-button
            styleClass="bg-green-500/25 w-10 h-10 hover:bg-green-500/75 mx-2"
            size="small"
            icon="pi pi-check"
            [rounded]="true"
            [outlined]="true"
            severity="success"
            (onClick)="presentInClass(enrollments)"
          />
          <p-button
            styleClass="bg-rose-500/25 w-10 h-10 hover:bg-rose-500/75 mx-2"
            size="small"
            icon="pi pi-times"
            [rounded]="true"
            [outlined]="true"
            severity="success"
            (onClick)="absentInClass(enrollments)"
          />
          <p-button
            styleClass="bg-sky-500/25 w-10 h-10 hover:bg-sky-500/75 mx-2"
            size="small"
            icon="pi pi-question"
            [rounded]="true"
            [outlined]="true"
            severity="success"
            (onClick)="setStatusAttendances(enrollments)"
          />
        </td>
        <td class="">
          <p-button
            styleClass="bg-rose-500/25 w-10 h-10 hover:bg-rose-500/75"
            size="small"
            icon="pi pi-times"
            [rounded]="true"
            [outlined]="true"
            severity="success"
            (onClick)="removefromclass(enrollments)"
          />
        </td>
        <td class="">
          <p-button
            styleClass="bg-green-500/25 w-10 h-10 hover:bg-green-500/75"
            size="small"
            icon="pi pi-pencil"
            [rounded]="true"
            [outlined]="true"
            severity="success"
            (onClick)="setGrade(enrollments)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
<p-dialog
  header="وضعیت حضور و غیاب سرباز"
  [modal]="true"
  [(visible)]="visibleform"
  [style]="{ width: '55rem' }"
>
  <div class="flex justify-center mt-3">
    <p-fileUpload
      mode="basic"
      auto="true"
      chooseLabel="انتخاب کردن"
      chooseIcon="pi pi-upload"
      name="demo[]"
      url="https://www.primefaces.org/cdn/api/upload.php"
      accept="image/*"
      maxFileSize="1000000"
      (onUpload)="headerUploadHandler($event)"
    />
  </div>
  @if(visibleform){

  <form-creator [fields]="formFeilds1" (submitForm)="submitform1($event)" />
  }
</p-dialog>
<p-dialog
  header="ثبت نمره"
  [modal]="true"
  [(visible)]="visiblegrade"
  [style]="{ width: '55rem' }"
>
  @if(visiblegrade){
  <form-creator
    [fields]="formFeildsgrade"
    (submitForm)="submitformgrade($event)"
  />
  }
</p-dialog>
