<div class="grid grid-cols-12 gap-10">
    <div class="col-span-12 lg:col-span-8">
      <p-card styleClass="card-style rounded-xl bg-[--content-color] text-slate-100 border-dashed border-2 border-gray-600 shadow-none">
        <form-creator
          [fields]="formFields"
          (submitForm)="submitForm($event)"
        ></form-creator>
      </p-card>
    </div>
    <div class="col-span-12 lg:col-span-4">
      <p-card styleClass="card-style rounded-xl bg-[--content-color] text-slate-100 border-dashed border-2 border-gray-600 shadow-none">
        <div class="flex-col">
        <div class="flex justify-around">
          <p-fileUpload 
          mode="basic" 
          auto="true" 
          chooseLabel="انتخاب کردن" 
          chooseIcon="pi pi-upload"
          name="demo[]" 
          url="https://www.primefaces.org/cdn/api/upload.php" 
          accept="image/*" 
          maxFileSize="1000000" 
          (onUpload)="headerUploadHandler($event)" />



          <p-button (onClick)="showDialog()"  label="گرفتن عکس" class="p-button-style"/>
          
        </div>
        </div>
      </p-card>
    </div>
  </div>
  <p-dialog header="گرفتن عکس" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <div>
      <video #videoElement width="100%" height="0px" playsinline ></video>
      <video #video width="100%" height="auto" autoplay ></video>

  <canvas #canvasElement width="100%" height="auto" ></canvas>

      <button (click)="capture()">گرفتن عکس</button>
      <img *ngIf="imageUrl" [src]="imageUrl" alt="Captured Image"/>
    </div>
    
  </p-dialog>
