<div class="grid grid-cols-12 gap-10">
    <div class="col-span-12 lg:col-span-8">
      <p-card styleClass="card-style rounded-xl bg-[--content-color] text-slate-100 border-dashed border-2 border-gray-600 shadow-none">
        @if(defaultValue){
        <form-creator
          [fields]="formFields"
          (submitEditForm)="submitForm($event)"
          [options]="formOptions"
          [values]="formValues"
        ></form-creator
        >}
      </p-card>
    </div>
    <div class="col-span-12 lg:col-span-4">
      <p-card styleClass="card-style rounded-xl bg-[--content-color] text-slate-100 border-dashed border-2 border-gray-600 shadow-none">
        <div class="flex-col">
          @if (!headerimageUploaded) {
          <p-card header="عکس " class="flex mb-4">
            <p-fileUpload
              chooseLabel="انتخاب"
              chooseIcon="pi pi-upload"
              uploadLabel="بارگذاری"
              cancelLabel="لغو"
              customUpload="true"
              accept="image/*"
              (uploadHandler)="headerUploadHandler($event)"
            />
          </p-card>
          }@else {<p-card header="عکس " class="flex mb-4">
            <div class="flex-col justify-center">
              <div class="mb-2">
                <p-image
                  [src]="headerImg"
                  alt="Image"
                  width="100%"
                  [imageClass]="'rounded'"
                />
              </div>
              <div>
              <p-button
                class="justify-center flex p-button-style w-full"
                label="بازنشانی"
                (onClick)="resetUploadHeaderPic()"
              />
            </div>
            </div>
          </p-card>
          } 
          <!-- @if (!bodyimageUploaded) {
          <p-card header="عکس اصلی" class="flex mb-4">
            <p-fileUpload
              customUpload="true"
              chooseLabel="انتخاب"
              chooseIcon="pi pi-upload"
              uploadLabel="بارگذاری"
              cancelLabel="لغو"
              accept="image/*"
              (uploadHandler)="bodyUploadHandler($event)"
            />
          </p-card>
          }@else {
          <p-card header="عکس اصلی" class="flex mb-4">
            <div class="flex-col justify-center">
              <div class="mb-2">
                <p-image
                  [src]="bodyImg"
                  alt="Image"
                  width="100%"
                  [imageClass]="'rounded'"
                />
              </div>
              <p-button
                class="justify-center flex p-button-style w-full"
                label="بازنشانی"
                (onClick)="resetUploadBodyPic()"
              />
            </div>
          </p-card>
          } -->
        </div>
  
        <!-- @if (defaultValue) {
        <div class="my-10">
          <p-floatLabel class="w-full">
            <p-multiSelect
              class="w-full"
              inputId="float-label"
              [options]="categories"
              [(ngModel)]="selectedCategories"
              optionLabel="name"
            />
            <label for="float-label">انتخاب درجه</label>
          </p-floatLabel>
        </div> 
         <div> 
          <p-floatLabel>
            <p-multiSelect
              inputId="float-label"
              [options]="tags"
              [(ngModel)]="selectedTags"
              optionLabel="name"
            />
            <label for="float-label">انتخاب تگ</label>
          </p-floatLabel>
        </div> 
        } -->
      </p-card>
    </div>
  </div>
  