
  <!-- <div class="flex flex-column coustombackdrop p-5 border-round-lg">
    <div class="mb-6">
      <span class="text-5xl">ثبت نام</span>
    </div>
    <p-floatLabel class="mb-5 border-none">
      <input
      style="color: black;"
        id="username"
        type="text "
        pInputText
        class="w-full bg-transparent borderbottom"
      />
      <label for="username" class="text-white">نام کاربری</label>
    </p-floatLabel>
    <p-floatLabel class="mb-5 border-none">
      <input
      style="color: black;"
        id="username"
        type="text "
        pInputText
        class="w-full bg-transparent borderbottom"
      />
      <label for="username" class="text-white">ایمیل</label>
    </p-floatLabel>

    <p-floatLabel class="mb-4">
      <input
      style="color: black;"
        id="password"
        pInputText
        type="password"
        class="w-full bg-transparent borderbottom"
      />
      <label for="password" class="text-white">کلمه عبور</label>
    </p-floatLabel>

    <p-button class="w-full mb-3" label="ثبت نام" styleClass="w-full" />

    <div>
      <span for="">قبلا ثبت نام کرده اید؟ <a> ورود</a> </span>
    </div>
  </div> -->

  <form>
    <h2 class="title">ثبت نام</h2>
    <div class="input-field !mt-0">
      <i class="fas fa-user"></i>
      <input type="text" placeholder="نام کاربری" />
    </div>
    <div class="input-field">
      <i class="fas fa-envelope"></i>
      <input type="email" placeholder="ایمیل" />
    </div>
    <div class="input-field">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="کلمه عبور" />
    </div>
    <input type="submit" class="btn-login" value="ثبت نام" />
  </form>