:host{
    .p-button-style{
        color: #030712;
        background: #60a5fa;
        border: 1px solid #60a5fa;
        padding: 0.75rem 1.25rem;
        font-size: 1rem;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s,
          box-shadow 0.2s;
        border-radius: 6px;
        outline-color: transparent;
        margin-right: 5px;
    }
    ::ng-deep td.justify-end{
      justify-content: end !important
    }
}