<p-button
  styleClass="bg-sky-500/25 w-10 h-10 hover:bg-sky-500/75"
  icon="pi pi-pencil"
  class="mr-2"
  [rounded]="true"
  [outlined]="true"
  severity="success"
  (onClick)="showDialog()"
/>
<!-- <p-button (onClick)="showDialog()" label="افزودن دسته بندی" /> -->
<p-dialog
  header="Edit Profile"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '35rem' }"
>
  <span class="p-text-secondary block mb-5"></span>
  @if(defaultvalue){
  <form-creator
    [fields]="formFeilds"
    (submitEditForm)="submitEditForm($event)"
    [options]="formOptions"
    [values]="formValues"
  >
    <div extraBody>
      <div class="mb-4 flex justify-center">
        <p-colorPicker [(ngModel)]="color" [inline]="true" />
      </div>
      <div class="mb-4 flex justify-center">
        @if (!imageUploaded) {
        <p-fileUpload
          chooseLabel="انتخاب"
          chooseIcon="pi pi-upload"
          uploadLabel="بارگذاری"
          cancelLabel="لغو"
          name="demo[]"
          accept="image/*"
          customUpload="true"
          (uploadHandler)="uploadHandler($event)"
        />
        }@else {
        <div class="flex-col justify-center">
          <div class="">
            <p-image [src]="imageSrc" alt="Image" width="250" />
          </div>
          <p-button
            class="justify-center flex p-button-style"
            label="بازنشانی"
            (onClick)="resetUploadimageSrc()"
          />
        </div>
        }
      </div>
    </div>
  </form-creator>
  }
</p-dialog>
