<p-card
  styleClass="card-style rounded-xl bg-[--content-color] text-slate-100 border-none shadow-none"
>
  <p-table
    #dt1
    [value]="courses"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 100]"
    styleClass="tb-style"
    responsiveLayout="stack"
    
    [columns]="cols"
    [globalFilterFields]="[
      'title',
      'startDate',
      'endDate',
      'description'
    ]"
  >
    <ng-template pTemplate="caption">
      <div class="flex items-center justify-between">
        <!-- <p class="mb-0 text-slate-100">مشتری</p> -->   <p-button
        icon="pi pi-external-link"
        label="Export"
        (click)="dt1.exportCSV()"
      />
        <input class="pl-10 pr-4 py-2 border rounded-lg" 
          pInputText
          type="text"
          (input)="filtermethod2($event)"
          placeholder="Global Search"
        />
       
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>عنوان دوره</th>
        <th>تاریخ شروع دوره</th>
        <th>تاریخ پایان دوره</th>
        <th>توضیحات</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-post>
      <tr>
        <td>
          <span class="p-column-title">نام و نام خانوادگی : </span
          >{{ post.title }}
        </td>
        <td>
          <span class="p-column-title">شماره پرسنلی : </span
          >{{ post.startDate }}
        </td>
        <td>
          <span class="p-column-title">محل خدمت : </span>{{ post.endDate }}
        </td>
        <td class="justify-end">
          
          <span class="p-column-title">محل خدمت : </span>{{ post.description }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
