<p-card
  styleClass="card-style rounded-xl bg-[--content-color] text-slate-100 border-none shadow-none"
>
  <p-table
    #dt1
    [value]="courses"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 100]"
    styleClass="tb-style"
    responsiveLayout="stack"
    [columns]="cols"
    [globalFilterFields]="[
      'name',
      'startDate',
      'endDate',
      'teacher'
    ]"
  >
    <ng-template pTemplate="caption">
      <div class="flex items-center justify-between">
        <!-- <p class="mb-0 text-slate-100">مشتری</p> -->   <p-button
        icon="pi pi-external-link"
        label="Export"
        (click)="dt1.exportCSV()"
      />
        <input class="pl-10 pr-4 py-2 border rounded-lg" 
          pInputText
          type="text"
          (input)="filtermethod2($event)"
          placeholder="Global Search"
        />
       
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>عنوان کلاس</th>
        <th>تاریخ شروع کلاس</th>
        <th>تاریخ پایان کلاس</th>
        <th>اموزگار کلاس</th><th>گزارشات</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-post>
      <tr>
        <td>
          <span class="p-column-title">نام و نام خانوادگی : </span
          >{{ post.name }}
        </td>
        <td>
          <span class="p-column-title">شماره پرسنلی : </span
          >{{ post.startDate | date:'yyyy-MM-dd' }}
        </td>
        <td>
          <span class="p-column-title">محل خدمت : </span>{{ post.endDate | date:'yyyy-MM-dd' }}
        </td>
        <td class="justify-end">
          
          <span class="p-column-title">محل خدمت : </span>{{ post.teacher }}
        </td>
        <td>
         
          <p-button
          styleClass="bg-green-500/25 w-10 h-10 hover:bg-green-500/75 mx-2"
          icon="pi pi-check"
          severity="primary"
          [rounded]="true"
          [outlined]="true"
          (onClick)="showatt(post)"
        />
          <p-button
          styleClass="bg-green-500/25 w-10 h-10 hover:bg-green-500/75 mx-2"
          icon="pi pi-book"
          severity="primary"
          [rounded]="true"
          [outlined]="true"
          (onClick)="showgrade(post)"
        />
        <p-button
        styleClass="bg-green-500/25 w-10 h-10 hover:bg-green-500/75 mx-2"
        icon="pi pi-user"
        severity="primary"
        [rounded]="true"
        [outlined]="true"
        (onClick)="showsoldier(post)"
      />
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
